
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jio Saavan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Jio Music</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/seoservices">Music</a></li>
      <li><a href="/semservices">Jio Tunes</a></li>
      <li><a href="/smmservices">Ringtones</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Jio Saavan</h3>
  <p>JioSaavn is an Indian Music streaming service and a digital distributor of Hindi, English, Malayalam, Bengali, Kannada, Tamil, Telugu, Bhojpuri and other regional Music of India around the world. Since it was founded in 2007 as Saavn, the company has acquired rights to over 80 million music tracks in 16 languages.</p>
</div>

</body>
</html>