{% extends 'baseindex.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jio Music</title>
</head>
<body>
    <p>JioSaavn captures India’s listening habits with “Best of 2022”
        Music & Culture · Dec 30, ’22 ·JioSaavn
        
        Bollywood and Desi-indie come forth as the most streamed genres  Most streamed languages on the platform were – Hindi, Telugu, Punjabi, English and Tamil  Saturdays were observed to be the highest streaming day of the week Mumbai, India, December 21, 2022: JioSaavn, India’s leading music and audio-streaming service, has mapped the latest trends in audio…</p>
</body>
</html>
{% endblock %}